.git
.gitignore
venv
__pycache__
.env

node_modules
package-lock.json

var/*
!var/.gitkeep

public/static/js/*
!public/static/js/.gitkeep


## If you really want to keep migration files then uncomment the following
# !var/migrations