
## for creting custom url prefix
# URL_PREFIX=""

## set databse dirver. defaults to sqlite
## set curresponding sqlalchemy compatible driver name
## eg : 
##      for using postgres set DB_TYPE=postgres+psycopg2
DB_TYPE=sqlite



## detailed databse configurations for non-sqlite databse
# DB_HOST=0.0.0.0
# DB_PORT=1234
# DB_USER=admin
# DB_PASSWORD=pswd
# DB_NAME=libmanager

## ignore previous migrations if not found. :) defaults to true
# IGNORE_MIGRATIONS_IF_NOT_FOUND=true

## create all databse binding on startup if not already exists (defaults to true)
# CREATE_ALL_DB_BINDS=true